#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY='secret'
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export SQL_ENGINE=your_value_here
export SQL_DATABASE=your_value_here
export SQL_USER=your_value_here
export SQL_PASSWORD=your_value_here
export SQL_HOST=your_value_here
export SQL_PORT=5432