#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY='solar_transit_test'
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export SQL_ENGINE=django.db.backends.postgresql_psycopg2
export SQL_DATABASE=banking
export SQL_USER=tanjona
export SQL_PASSWORD=tanjona
export SQL_HOST=db
export SQL_PORT=5432